body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  main {
    margin: 50px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .aboutus{
    margin: top 25px;
    margin-left: 250px;
  }
  