
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}
h1 {
	margin: 20px 0;
	text-align: center;
}
.approvalForm {
	width: 80%;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #888888;
	margin-left: 220px;
}

input[type="text"], input[type="file"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 4px;
	background-color: #f5f5f5;
}
.rating {
	display: block;
	width: 10%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #e6e6e6;
}
button {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #4CAF50;
	cursor: pointer;
}
button:hover {
	background-color: #3e8e41;
}
.reject {
	background-color: #f44336;
}
.reject:hover {
	background-color: #ba0c0c;
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}

.popup-inner {
	width:40vw;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}
.approvePopup{
	display:flex;
	flex-direction:column;
}
.approveSubmit{
display: inline-block;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #4CAF50;
	cursor: pointer;
}
.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.document{
	display: flex;
	gap:20px;
	align-items: center;
}
.documentList{
	display: flex;
	flex-direction: column;
	gap:20px;
}

  .rating-submit{
	padding: 5px 10px;
  }
  .downloadFile{
	padding: 5px 10px;
	background-color: #00ff08;
	color: rgb(0, 0, 0);
	font-weight: 600;
	text-decoration: none;
  }